{% extends 'base.html' %}

{% block css %} 
	<!--link rel="stylesheet" href="{{ url_for('static', filename='fullcalendar/main.css') }}"-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.css"> 
{% endblock %}

{% block header %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('reminder.index') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% block title %} Calendar {% endblock %}</li>        
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
	            <div class="card-header">
	                <h4>Calendar</h4>
	            </div>
	            <div class="card-body">
	                <div class="fc-overflow">
	                  	<div id="calendar"></div>
	                </div>
	            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
	<!-- JS Libraies -->
	<!--script src="{{ url_for('static', filename='fullcalendar/main.js') }}"></script--->
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.js"></script>

	<script type="text/javascript">
  		document.addEventListener('DOMContentLoaded', function() {
    		var calendarEl = document.getElementById('calendar');

		    var calendar = new FullCalendar.Calendar(calendarEl, {
		      	headerToolbar: {
			        left: 'prev,next today',
			        center: 'title',
			        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
			    },
		      	navLinks: true, // can click day/week names to navigate views
		      	nowIndicator: true,

		      	weekNumbers: true,
		      	weekNumberCalculation: 'ISO',

		      	editable: true,
		      	selectable: true,
		      	dayMaxEvents: true, // allow "more" link when too many events
		      	events: {
			        url: '../reminder/json',
			        failure: function() {
			          document.getElementById('script-warning').style.display = 'block'
			        }
			    },
		      	test: [
			        {
			          title: 'All Day Event',
			          start: '2020-09-01'
			        },
			        {
			          title: 'Long Event',
			          start: '2020-09-07',
			          end: '2020-09-10'
			        },
			        {
			          groupId: 999,
			          title: 'Repeating Event',
			          start: '2020-09-09T16:00:00'
			        },
			        {
			          groupId: 999,
			          title: 'Repeating Event',
			          start: '2020-09-16T16:00:00'
			        },
			        {
			          title: 'Conference',
			          start: '2020-09-11',
			          end: '2020-09-13'
			        },
			        {
			          title: 'Meeting',
			          start: '2020-09-12T10:30:00',
			          end: '2020-09-12T12:30:00'
			        },
			        {
			          title: 'Lunch',
			          start: '2020-09-12T12:00:00'
			        },
			        {
			          title: 'Meeting',
			          start: '2020-09-12T14:30:00'
			        },
			        {
			          title: 'Happy Hour',
			          start: '2020-09-12T17:30:00'
			        },
			        {
			          title: 'Dinner',
			          start: '2020-09-12T20:00:00'
			        },
			        {
			          title: 'Birthday Party',
			          start: '2020-09-13T07:00:00'
			        },
			        {
			          title: 'Click for Google',
			          url: 'http://google.com/',
			          start: '2020-09-28'
			        }
		      	]
		    });

		    calendar.render();
		});
		
	</script>
{% endblock %}